.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; /* maneja ancho del navbar */
  align-items: center;
  background-color: rgba(0,0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #18181b;
}

.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
}

.logoText {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .logoText {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }
}

.logoText {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: #fbbf24;
}

.logoText span {
  color: #ffffff;
}

@media (max-width: 768px) {
  .logoText {
    font-size: 1.4rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -100rem;
  gap: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
}

.link {
  color: #fbbf24;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .links {
    margin-right: 2rem;
    gap: 1.5rem;
    font-size: 0.7rem;
  }
}

.button {
  background-color: #fbbf24;
  color: #000;
  padding: 0.5rem 1.4rem;
  font-weight: 900;
  font-size: 0.70rem;
  border: none;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fbbf24;
  transform: scale(1.05);
}