.card {
  background: #1A1D23;
  border-radius: 24px;
  padding: 1.2rem;
  border: 1px solid #2C3140;
  position: relative;
  transition: ALL 0.1s ease;
  cursor: pointer;
}

.card:hover {
  border-color: #c9a14a;
  box-shadow: 0 0 20px rgba(201, 161, 74, 0.015);
}

.imageWrapper {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 18px;
  margin-bottom: 1.2rem;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #EDEDED;
}
